
/* Creddo por Jorge Gil
-------------------------------------------------- */

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

/* Creo una clase de estilos para el div de los botones*/
.area-botones {
    padding: 25px;
}

/* Clase para separar el titulo del primer item del menu */
.titulo {
    border-right: 1px solid #fff;
    padding-right: 25px;
}

/* Clase para ocultar el mensaje de error al cargar la pagina */
.hide {
    display: none;
    visibility: hidden;
}

/* Creo esta clase para dar estilo al numero que da como resultado */
.success {
    color: green;
    font-size: 24px;
    padding: 5px;
}

/* Creo esta clase para dar estilo de Error al mensaje generado */
.danger {
    color: darkred;
    font-size: 24px;
    padding: 5px;
}